@import "../../styles/variables";
@import "../../styles/mixins";
@import "../../styles/common";

.Labslip {
    &Section {
        padding-top: 70px;
    }

    &Top {
        background-color: $gray8;
        padding: 70px 0 32px 0;
    }

    &Info {

        &Customer {
            margin-bottom: 10px;

            &Add {
                font-size: 12px;
                letter-spacing: 0.3px;
                line-height: 18px;
            }
        }

        &Wrapper {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
        }

        &Item {
            flex: 0 0 370px;
        }
    }
}