@import "../../styles/variables";
@import "../../styles/mixins";
@import "../../styles/common";

.Auth {
    min-height:      calc(100vh - 100px);
    display:         flex;
    justify-content: center;

    @include breakpoint($mobile) {
        min-height: auto;
    }

    &Background {
        background-position: center;
        background-size:     cover;

        @include breakpoint($mobile) {
            background-image: none !important;
            background-color: #fff;
        }
    }
}

.Form {
    &Wrapper {
        border-radius:    5px;
        box-sizing:       border-box;
        max-width:        500px;
        position:         relative;
        background-color: #ffffff;
        z-index:          2;
        margin:           100px auto 260px;
        padding:          34px 80px 47px;
        text-align:       center;
        box-shadow:       0 4px 12px 1px rgba(35, 45, 55, 0.15);

        @include breakpoint($mobile) {
            margin:        0;
            box-shadow:    none;
            max-width:     100%;
            border-radius: 0;
            padding:       30px 16px 155px;
        }
    }

    &Title {
        margin:         0;
        color:          $text;
        letter-spacing: 0.2px;
        font-size:      30px;
        line-height:    1.7;
        font-weight:    600;
    }

    &Subtitle {
        margin:         24px -30px;
        color:          $text;
        letter-spacing: 0.2px;
        font-size:      16px;
        line-height:    1.5;
        font-weight:    400;
        white-space:    nowrap;
        @include breakpoint($mobile) {
            white-space: normal;
        }
    }
}