@import "../../styles/variables";
@import "../../styles/mixins";

.Button {
    width:            100%;
    height:           36px;
    font-family:      "Open Sans Semibold", sans-serif;
    letter-spacing:   0.3px;
    border-radius:    3px;
    background-color: $primary--hover;
    color:            #fff;

    &:hover {
        background-color: lighten($primary--hover, 8);
    }

    &:active {
        background-color: darken($primary--hover, 8);
    }

    &Secondary {
        background-color: $gray4;
        color:            #fff;

        &:hover {
            background-color: lighten($gray4, 8);
        }

        &:active {
            background-color: darken($gray4, 8);
        }
    }
}