@import "../../styles/variables";
@import "../../styles/mixins";
@import "../../styles/common";


.Main {
    height:          calc(100vh - 300px);
    display:         flex;
    align-items:     center;
    justify-content: center;
    text-align:      center;
}

.list {
    width:        500px;
    margin:       20px auto;
    list-style:   none;
    padding-left: none;

    &Item {
        margin: 12px auto;

        a, a:visited {
            color: $primary;

            &:hover {
                text-decoration: underline;
            }
        }

        p {
            font-size: 0.8em;
        }
    }
}