//Colors
$text:        #232d37;
$dark_bg:     $text;
$light_bg:    #37414b;
$gray:        #6e7882;
$gray_1:      #e5e5e5;
$gray_2:      #4b555f;
$text_gray:   #c3c8cd;
$text_gray_2: #87919b;

$primary:     #00AAFF;
$primary_btn: #46c3ff;


//Breakponts
$desktop:     1200px;
$big-tablet:  900px;
$tablet:      768px;
$mobile:      600px;