@import "../../styles/variables";
@import "../../styles/mixins";

.FormBtn {
    max-width: 112px;
    margin:    0 auto;
}

.Form {
    position:    relative;
    padding-top: 16px;

    &Error {
        font-size:   0.85em;
        color:       $error;
        font-weight: 600;
        position:    absolute;
        width:       100%;
        top:         0;
        left:        0;
    }
}

.Bottom {
    display:         flex;
    justify-content: space-between;
    align-items:     center;
    margin-bottom:   40px;
    padding-top:     12px;

    &Link {
        font-size:       0.9em;
        font-weight:     600;
        transition:      all 0.2s ease-in-out;
        cursor:          pointer;
        text-decoration: none;
        color:           $primary;

        &:visited {
            color: $primary;
        }

        &:hover {
            text-decoration: underline;
        }
    }
}